<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">

<display-name>Archetype Created Web Application</display-name>
<servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>Servlet.loginServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registeServlet</servlet-name>
        <servlet-class>Servlet.registeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registeServlet</servlet-name>
        <url-pattern>/registe</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>advancedSearchServlet</servlet-name>
        <servlet-class>Servlet.advancedSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>advancedSearchServlet</servlet-name>
        <url-pattern>/advancedSearch</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>postMessageServlet</servlet-name>
        <servlet-class>Servlet.postMessageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>postMessageServlet</servlet-name>
        <url-pattern>/postMessage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>showUserDetailServlet</servlet-name>
        <servlet-class>Servlet.showUserDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showUserDetailServlet</servlet-name>
        <url-pattern>/showUserDetail</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addFriendServlet</servlet-name>
        <servlet-class>Servlet.addFriendServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addFriendServlet</servlet-name>
        <url-pattern>/addFriend</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>activateServlet</servlet-name>
        <servlet-class>Servlet.activateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>activateServlet</servlet-name>
        <url-pattern>/activatemail</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>activateFriendServlet</servlet-name>
        <servlet-class>Servlet.activateFriendServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>activateFriendServlet</servlet-name>
        <url-pattern>/activateFriend</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>changeUserStatusServlet</servlet-name>
        <servlet-class>Servlet.changeUserStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>changeUserStatusServlet</servlet-name>
        <url-pattern>/changeUserStatus</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>voteServlet</servlet-name>
        <servlet-class>Servlet.voteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>voteServlet</servlet-name>
        <url-pattern>/vote</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>changeUserDetailServlet</servlet-name>
        <servlet-class>Servlet.changeUserDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>changeUserDetailServlet</servlet-name>
        <url-pattern>/changeUserDetail</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getNotificationServlet</servlet-name>
        <servlet-class>Servlet.getNotificationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getNotificationServlet</servlet-name>
        <url-pattern>/getNotification</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteServlet</servlet-name>
        <servlet-class>Servlet.deleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getMyMessageServlet</servlet-name>
        <servlet-class>Servlet.getMyMessageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getMyMessageServlet</servlet-name>
        <url-pattern>/getMyMessage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PollingNotificationServlet</servlet-name>
        <servlet-class>Servlet.PollingNotificationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PollingNotificationServlet</servlet-name>
        <url-pattern>/PollingNotification</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>showMessageServlet</servlet-name>
        <servlet-class>Servlet.showMessageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showMessageServlet</servlet-name>
        <url-pattern>/showMessage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getGraphServlet</servlet-name>
        <servlet-class>Servlet.getGraphServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getGraphServlet</servlet-name>
        <url-pattern>/getGraph</url-pattern>
    </servlet-mapping>
</web-app>